---
import { Icon } from "astro-icon/components";
---

<button data-theme-toggle aria-label="Toggle Theme" title="Toggle Theme">
  <Icon name="lucide:moon" data-theme-icon="dark" class="icon hidden" />
  <Icon name="lucide:sun" data-theme-icon="light" class="icon hidden" />
  <Icon name="lucide:laptop" data-theme-icon="system" class="icon hidden" />
</button>

<!-- Prevent FOUC -->
<script is:inline>
  (function () {
    const theme = localStorage.getItem("theme") || "system";
    const prefersDark = window.matchMedia(
      "(prefers-color-scheme: dark)"
    ).matches;
    document.documentElement.dataset.theme =
      theme === "system" ? (prefersDark ? "dark" : "light") : theme;

    // Avoid FOUC for theme icons
    document.querySelectorAll("[data-theme-icon]").forEach((icon) => {
      if (icon.getAttribute("data-theme-icon") === theme) {
        icon.classList.remove("hidden");
      } else {
        icon.classList.add("hidden");
      }
    });
  })();
</script>

<script>
  const themes = { LIGHT: "light", DARK: "dark", SYSTEM: "system" } as const;
  type Themes = (typeof themes)[keyof typeof themes];

  const themeOrder: Themes[] = [themes.LIGHT, themes.DARK, themes.SYSTEM];

  /** Apply selected theme */
  function applyTheme(theme: Themes) {
    if (theme === themes.SYSTEM) {
      const prefersDark = window.matchMedia(
        "(prefers-color-scheme: dark)"
      ).matches;

      document.documentElement.dataset.theme = prefersDark
        ? themes.DARK
        : themes.LIGHT;
    } else {
      document.documentElement.dataset.theme = theme;
    }
  }

  /** Get all theme icons */
  function getThemeIcons() {
    return document.querySelectorAll("[data-theme-icon]");
  }

  /** Initialize the theme icon based on the theme */
  function initThemeIcon(theme: Themes) {
    getThemeIcons().forEach((icon) => {
      icon.classList.remove(
        "animate-slide-in-from-left",
        "animate-slide-out-to-right"
      );

      if (icon.getAttribute("data-theme-icon") === theme) {
        icon.classList.remove("hidden");
      } else {
        icon.classList.add("hidden");
      }
    });
  }

  /** Switch, with animation, the theme icon based on the theme */
  function switchThemeIcon(theme: Themes) {
    getThemeIcons().forEach((icon) => {
      if (icon.getAttribute("data-theme-icon") === theme) {
        icon.classList.remove("hidden");
        icon.classList.add("animate-slide-in-from-left");
        icon.classList.remove("animate-slide-out-to-right");
      } else {
        icon.classList.add("animate-slide-out-to-right");
        icon.classList.remove("animate-slide-in-from-left");
        setTimeout(() => icon.classList.add("hidden"), 300);
      }
    });
  }

  /** Find and apply next theme */
  function handleThemeToggle() {
    const current = (localStorage.getItem("theme") || themes.SYSTEM) as Themes;
    const next =
      themeOrder[(themeOrder.indexOf(current) + 1) % themeOrder.length];

    localStorage.setItem("theme", next);
    applyTheme(next);
    switchThemeIcon(next);
  }

  /** Add event listener for theme toggle */
  function registerThemeToggle() {
    const btn = document.querySelector("[data-theme-toggle]");
    btn?.addEventListener("click", handleThemeToggle);
  }

  /** Initialize the theme */
  function initTheme() {
    const savedTheme = (localStorage.getItem("theme") ||
      themes.SYSTEM) as Themes;

    initThemeIcon(savedTheme);
    applyTheme(savedTheme);
  }

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", () => {
      const savedTheme = (localStorage.getItem("theme") ||
        themes.SYSTEM) as Themes;

      if (savedTheme === themes.SYSTEM) {
        applyTheme(themes.SYSTEM);
      }
    });

  initTheme();
  registerThemeToggle();

  document.addEventListener("astro:after-swap", () => {
    initTheme();
    registerThemeToggle();
  });
</script>

<style>
  @reference "../../styles/global.css";

  @keyframes slide-in-from-left {
    from {
      transform: translateX(-12px) scale(75%);
      opacity: 0;
    }
    to {
      transform: translateX(0) scale(100%);
      opacity: 1;
    }
  }

  @keyframes slide-out-to-right {
    from {
      transform: translateX(0) scale(100%);
      opacity: 1;
    }
    to {
      transform: translateX(12px) scale(75%);
      opacity: 0;
    }
  }

  button[data-theme-toggle] {
    @apply transition-all;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
  }

  .icon {
    position: absolute;
  }

  .icon:not(.hidden) {
    display: inline-block;
  }

  .animate-slide-in-from-left {
    animation: slide-in-from-left 0.2s ease-in forwards;
  }

  .animate-slide-out-to-right {
    animation: slide-out-to-right 0.2s ease-out forwards;
  }
</style>
