---
import { Icon } from "astro-icon/components";
import Group from "../../components/layout/group/Group.vue";
import HeaderLink from "../../components/navigation/header-link/HeaderLink.astro";
import { SITE_TITLE } from "../../consts";
import ThemeToggle from "../theme-toggle/ThemeToggle.astro";
---

<header transition:persist class="w-full">
	<nav>
		<Group justify="between" class="p-md">
			<h2>
				<HeaderLink href="/">
					<Icon
						name="logo"
						slot="icon"
						class="text-foreground not-dark:invert"
					/>
					<span class="hidden font-semibold xs:inline">{SITE_TITLE}</span>
				</HeaderLink>
			</h2>

			<Group spacing="md">
				<Group spacing="sm">
					<HeaderLink href="/blog">Blog</HeaderLink>
					<HeaderLink href="/about">About</HeaderLink>
				</Group>

				<Group spacing="sm">
					<ThemeToggle />
					<a
						aria-label="RSS Feed"
						title="RSS Feed"
						class="icon-button"
						href="/rss.xml"
						target="_blank"
					>
						<Icon name="lucide:rss" />
					</a>
				</Group>
			</Group>
		</Group>
	</nav>
</header>
