---
import { group, type GroupVariants } from "./group.variants";

type Props = GroupVariants & { class?: string };

const props: Props = Astro.props;

const styles = group(props);
---

<div class={styles}>
  <slot />
</div>
