---
import { Icon } from "astro-icon/components";
import { cn } from "tailwind-variants";
import Stack from "../../components/layout/stack/Stack.astro";
import Group from "../../components/layout/group/Group.astro";
const today = new Date();
---

<footer class="pt-2xl pb-md text-sm font-light text-foreground-secondary">
  <Stack align="center" spacing="xs">
    <Group spacing="sm">
      <a
        href="https://github.com/domingasp"
        target="_blank"
        class={cn([
          "transition-all",
          "hover:text-[#08872B] dark:hover:text-[#5FED83]",
          "focus:text-[#08872B] dark:focus:text-[#5FED83]",
        ])({ twMerge: true })}
      >
        <span class="sr-only">Go to Domingas' GitHub repo</span>
        <Icon name="github" />
      </a>

      <a
        href="https://www.linkedin.com/in/domingas-pleckauskas/"
        target="_blank"
        class={cn([
          "transition-all",
          "hover:text-[#008CC9] dark:hover:text-[#34B3E4]",
          "focus:text-[#008CC9] dark:focus:text-[#34B3E4]",
        ])({ twMerge: true })}
      >
        <span class="sr-only">Go to Domingas' LinkedIn profile</span>
        <Icon name="linkedin" />
      </a>
    </Group>

    &copy; {today.getFullYear()} Domingas Pleckauskas. All rights reserved.
  </Stack>
</footer>
