@import "tailwindcss";

@theme {
  --color-background: var(--color-neutral-800);

  --color-foreground: var(--color-neutral-100);
}

html {
  font-size: 14px;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
