@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
	font-weight: 100 900;
	font-stretch: 75% 125%;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
	font-weight: 100 900;
	font-stretch: 75% 125%;
	font-style: italic;
}

@font-face {
	font-family: "JetBrains Mono", monospace;
	src: url("/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 800;
	font-optical-sizing: auto;
}

@font-face {
	font-family: "JetBrains Mono", monospace;
	src: url("/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf")
		format("truetype");
	font-weight: 100 800;
	font-style: italic;
	font-optical-sizing: auto;
}

@theme {
	/* Override default transition-colors, replace outline-color with outline */
	--transition-property-colors: color, background-color, border-color,
		text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via,
		--tw-gradient-to, outline;

	--font-sans: "Inter", sans-serif;
	--default-mono-font-family: "JetBrains Mono", monospace;

	--breakpoint-xs: 30rem;

	--gap-xs: var(--spacing);
	--gap-sm: calc(var(--spacing) * 2);
	--gap-md: calc(var(--spacing) * 4);
	--gap-lg: calc(var(--spacing) * 6);

	--padding-xs: calc(var(--spacing) * 1);
	--padding-sm: calc(var(--spacing) * 2);
	--padding-sm-md: calc(var(--spacing) * 2.5);
	--padding-md: calc(var(--spacing) * 3);
	--padding-lg: calc(var(--spacing) * 4);
	--padding-xl: calc(var(--spacing) * 5);
	--padding-2xl: calc(var(--spacing) * 6);
	--padding-3xl: calc(var(--spacing) * 7);
	--padding-4xl: calc(var(--spacing) * 8);

	--color-focus: var(--color-blue-500);
	--color-highlight: var(--color-yellow-300);

	--color-background: var(--color-neutral-100);

	--color-foreground: var(--color-neutral-800);

	--color-foreground-secondary: oklch(
		from var(--color-foreground) calc(l + 0.25) c h
	);

	--color-foreground-secondary: oklch(
		from var(--color-foreground) calc(l + 0.25) c h
	);

	--color-surface: var(--color-white);
	--color-surface-hover: oklch(from var(--color-surface) calc(l - 0.015) c h);
	--color-surface-active: oklch(from var(--color-surface) calc(l - 0.03) c h);

	--color-surface-secondary: var(--color-neutral-200);

	--color-fill-inverse: var(--color-neutral-800);
	--color-fill-inverse-hover: oklch(
		from var(--color-fill-inverse) calc(l + 0.08) c h
	);
	--color-fill-inverse-active: oklch(
		from var(--color-fill-inverse) calc(l + 0.16) c h
	);
}

@layer themes {
	[data-theme="dark"] {
		--color-focus: var(--color-blue-400);
		--color-highlight: var(--color-yellow-400);

		--color-background: var(--color-neutral-800);

		--color-foreground: var(--color-neutral-100);

		--color-foreground-secondary: oklch(
			from var(--color-foreground) calc(l - 0.25) c h
		);

		--color-foreground-secondary: oklch(
			from var(--color-foreground) calc(l - 0.25) c h
		);

		--color-surface: oklch(from var(--color-neutral-800) calc(l + 0.05) c h);
		--color-surface-hover: oklch(from var(--color-surface) calc(l + 0.02) c h);

		--color-surface-secondary: oklch(
			from var(--color-surface) calc(l + 0.05) c h
		);

		--color-fill-inverse: var(--color-neutral-100);
		--color-fill-inverse-hover: oklch(
			from var(--color-fill-inverse) calc(l - 0.03) c h
		);
		--color-fill-inverse-active: oklch(
			from var(--color-fill-inverse) calc(l + 0.06) c h
		);
	}
}
