---
import { Icon } from "astro-icon/components";
import Group from "./layout/group/Group.astro";
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Domingas Pleckauskas. All rights reserved.
  <Group spacing="sm">
    <a
      href="https://github.com/domingasp"
      target="_blank"
      class="transition-all hover:text-[#08872B] dark:hover:text-[#5FED83]"
    >
      <span class="sr-only">Go to Domingas' GitHub repo</span>
      <Icon name="github" />
    </a>

    <a
      href="https://www.linkedin.com/in/domingas-pleckauskas/"
      target="_blank"
      class="transition-all hover:text-[#008CC9] dark:hover:text-[#34B3E4]"
    >
      <span class="sr-only">Go to Domingas' LinkedIn profile</span>
      <Icon name="linkedin" />
    </a>
  </Group>
</footer>
