---
import { SITE_TITLE } from "../consts";
import ThemeToggle from "../features/theme-toggle/ThemeToggle.astro";
import HeaderLink from "./HeaderLink.astro";
import Group from "./layout/group/Group.astro";
import { Icon } from "astro-icon/components";
---

<header>
  <nav>
    <Group justify="between" class="p-md">
      <h2>
        <a href="/" class="font-semibold">
          <Group spacing="sm">
            <Icon name="logo" class="text-foreground not-dark:invert" />
            {SITE_TITLE}
          </Group>
        </a>
      </h2>

      <Group spacing="md">
        <div class="internal-links">
          <HeaderLink href="/blog">Blog</HeaderLink>
          <HeaderLink href="/about">About</HeaderLink>
        </div>

        <Group spacing="sm">
          <ThemeToggle />
          <a
            aria-label="RSS Feed"
            title="RSS Feed"
            class="icon-button"
            href="/rss.xml"
            target="_blank"
          >
            <Icon name="lucide:rss" />
          </a>
        </Group>
      </Group>
    </Group>
  </nav>
</header>
